* {
    font-family: "Inter", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:wght@700&display=swap');

/*** Header Section ***/
header {
    background-image: url("resources/Banner\ Image.png");
    background-repeat: no-repeat;
    align-content: space-around;
    background-position: center;
    height: 600px;
    margin-bottom: 100px;
}

.header-title {
    text-align: center;
}

.little-title {
    font-size: 20px;
    font-weight: 700;
    color: red;
}

.head-title {
    font-size: 50px;
    font-weight: 800;
    color: red;
}

/************ Main Section ************/
/* Article 1 Section */
.first-article-container {
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.article-1-title-1 {
    font-size: 88px;
    font-weight: 700;
    color: red;
    margin-bottom: 30px;
}

.article-1-description {
    font-size: 24px;
    font-weight: 400;
    color: red;
    margin-bottom: 0px;
}
.article-1-title-2{
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}

/* Article 2 */

.article-2nd-container{
    background-image: url("resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-2nd-title-1 {
    font-size: 70px;
    font-weight: 800;
    margin: 20px;
}
.article-2-description{
    padding-left: 30px;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 50px;
}
.article-2nd-section{
    color: white;
    padding-right: 50px;
    
}
.btn-join{
    padding-left: 60px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

/* Article 3 Section */

.article-3rd-container{
    justify-content: center;
    text-align: center;
    margin: 100px 280px;
    border: 0px;
    border-radius: 15px;
    background-color: pink;
    padding: 120px 0px;
}

.span-item{
    color: red;
}
.btn-primary{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

/* ****** Article 4 Section ******* */
.article-4th-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 100px 300px; */
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 320px;
    margin-right:320px;
}

.product-list-1{
    width: 55%;
    margin-right: 180px;
}
.product-list-2{
    margin-right: 200px;
}
.celebration-img{
    border: 10px solid red;
    border-radius: 200px;
}

.product-sub-title{
    color: red;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
}
.product-title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 8px;
}
.product-description{
    font-size: 14px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
}

/****** Article 5th Section *******/
.article-5th-container{
    margin: 100px 300px;
}

.section-holidays{
    justify-content: center;
    text-align: center;
}
.holiday-title{
    font-size: 80px;
    font-weight: 700;
    margin: 15px 0px;
    font-family: "Merriweather", serif;
}

.holiday-description{
    font-size: 16px;
    margin: 0px 250px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
}